.list-order {
    background-color: yellow;
    font-weight: bold;
}

.list-order li:nth-last-of-type(2n){
  color: green;
}

.list-order li:nth-last-of-type(2n+1){
    text-transform: uppercase;
  }

.no-order li:nth-last-of-type(1n+2){
    color: blue;
}

h1, h3{
    color: red;
}

.italico{
    font-size: 40px;
    border: 1px solid black;
}

li{
    font-size: 20px;

}

.pink-bg{
    background-color: pink;
}

.aliados li a:hover{
    font-weight: bold;
    
}

.aliados li a[href*="stackoverflow"]:hover{
    color: orange;
}

.aliados li a[href*="w3schools"]:hover{
    color: green;
}

.aliados li a[href*="mozilla"]:hover{
    color: black;
}

.aliados li a[href*="devdocs"]:hover{
    color: yellow;
}
.aliados li a[href*="trybe"]:hover{
    color: green;
}

